li a {
    color: black;
    line-height: 2;
    
}

body {
    background: white url("images/back.avif") no-repeat;
    /* background: url("images/background.avif") no-repeat; */
    background-size: cover;
    background-position: center;

}